<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title><%=@title %></title>
      <style id="applicationStylesheet" type="text/css">
         html {
         -webkit-print-color-adjust: exact;
         }
         body {
         zoom: 50%;
         padding: 5;
         display: flex;
         flex-direction: column;
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 23px;
         margin-left: 1.5%;
         margin-right: 1.5%;
         }
         .labelText {
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 21.8px;
         color: rgba(51, 51, 51, 1);
         }
         .infoText {
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 21.8px;
         color: rgba(85, 85, 85, 1);
         display: flex;
         }
         #infoBox {
         margin-bottom: 10px;
         }
         #barra_proposta {
         height: 49.3px;
         background-color: rgba(222, 229, 236, 1);
         width: 100%;
         display: flex;
         margin-top: 21px;
         }
         #titulo_proposta {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: left;
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 23px;
         color: rgba(51, 51, 51, 1);
         padding-left: 6px;
         }
         #infoColumns {
         display: flex;
         flex-direction: row;
         }
         .column {
         display: flex;
         flex: 1;
         flex-direction: column;
         }
         .row {
         display: flex;
         flex-direction: row;
         }
         .labelBox {
         display: flex;
         width: 27%;
         }
         .labelSpacing {
         margin-top: 11.73px;
         margin-bottom: 5.5px;
         }
         #infoText {
         display: flex;
         }
         .productLabelText {
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 21.8px;
         color: rgba(255, 255, 255, 1);
         }
         .productLabelTextRight {
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 21.8px;
         color: rgba(255, 255, 255, 1);
         }
         .productText {
         font-family: Arial;
         font-style: normal;
         font-weight: normal;
         font-size: 23px;
         color: rgba(85, 85, 85, 1);
         text-align: left;
         }
         .itemSpacing {
         padding-left: 6px;
         padding-right: 6px;
         }
         .subTotalSpacing {
         padding-bottom: 18px;
         font-size: 21.8px;
         }
         .indice {
         width: 3%;
         }
         .produto {
         width: 38.5%;
         }
         .quantidade {
         width: 11.5%;
         }
         .valorSemIpi {
         width: 13.05%;
         }
         .ipi {
         width: 3.75%;
         }
         .valorVenda {
         width: 14.80%;
         }
         .valorDesconto {
         width: 18.12%;
         }
         .produto2 {
         width: 22.49%;
         }
         .descricao {
         width: 21.94%;
         }
         .embalagem {
         width: 11.2%;
         }
         .altura {
         width: 6.5%;
         }
         .largura {
         width: 8.3%;
         }
         .comprimento {
         width: 11.83%;
         }
         .ncm {
         width: 10.34%;
         }
         .peso {
         width: 7.4%;
         }
         .assinatura {
         border-top: 1px solid;
         padding-top: 15px;
         font-size: 20px;
         margin-left: 200px;
         margin-right: 200px;
         margin-bottom: 0px;
         font-weight: bold;
         page-break-inside: avoid
         }
         .subassinatura {
         font-size: 18px;
         margin-top: 5px;
         page-break-inside: avoid
         }
         .page-header, .page-header-space {
         height: 260px;
         }
         .page-footer, .page-footer-space {
         height: 150px;
         }
         .page-footer {
         position: fixed;
         bottom: 0;
         width: 100%;
         }
         .page-header {
         position: fixed;
         top: 0mm;
         width: 100%;
         }
         .page {
         page-break-after: always;
         }
         @media print  
         {
         div{
         page-break-inside: avoid;
         }
         }
      </style>
   </head>
   <body>
      <div class="page-header" >
         <%= render(SalvaCompraWeb.OrcamentoView, "filial.html",  %{ user: @user, dias: @dias ,ntp: Images64.logo_ntp(),
            salva: Images64.logo_salva(),criacao: @orcamento.criacao,
            validade: @orcamento.validade,
            condicao: @orcamento.condicao,
            telefone: @orcamento.telefone,
            cidade: @orcamento.cidade,
            nome: @orcamento.nome,
            nome_completo: @orcamento.nome_completo,
            uf: @orcamento.uf,
            cpf: @orcamento.cpf,
            email: @orcamento.email,
            ramo: @orcamento.ramo,
            id: @orcamento.id})
            obs: @orcamento.obs})%>
      </div>
      </div>
      <div class="page-footer">
         <%=  SalvaCompraWeb.Components.footer(@user, @orcamento.nome,@orcamento.nome_completo) %>
      </div>
      <table>
         <thead>
            <tr>
               <td>
                  <!--place holder for the fixed-position header-->
                  <div class="page-header-space"></div>
               </td>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <div id="infoBox" >
                     <div id="barra_proposta">
                        <div id="titulo_proposta">
                           Informações da Proposta
                        </div>
                     </div>
                     <div id="infoColumns">
                        <div class="column">
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Data de Criação
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @criacao %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Data de Validade
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @validade %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Tipo de Frete
                              </div>
                              <div class="infoText labelSpacing">
                                 FOB
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing" style="word-spacing: 9999rem;">
                                 Condição Pagamento
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @condicao %> Dias
                                 <%= @dias %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 ICMS
                              </div>
                              <div class="infoText labelSpacing">
                                 18%
                              </div>
                           </div>
                        </div>
                        <div class="column">
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Preparado por
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @user.nome %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Telefone
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @user.telefone %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Email
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @user.email %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                     <div id="barra_proposta">
                        <div id="titulo_proposta">
                           Empresa e Contato
                        </div>
                     </div>
                     <div id="infoColumns">
                        <div class="column">
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Nome da Conta
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @nome %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 CPF/CNPJ
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @cpf %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Ramo/Atividade
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @ramo %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 UF
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @uf %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Cidade
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @cidade %>
                              </div>
                           </div>
                        </div>
                        <div class="column">
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Nome completo
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @nome_completo %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Telefone
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @telefone %>
                              </div>
                           </div>
                           <div class="row">
                              <div class="labelBox labelText labelSpacing">
                                 Email
                              </div>
                              <div class="infoText labelSpacing">
                                 <%= @email %>
                              </div>
                           </div>
                        </div>
                     </div>
                  
                  
                     <div id="barra_proposta" style="margin-bottom: 0px">
                        <div id="titulo_proposta">
                           Informações de venda
                        </div>
                     </div>
                     <div class="row"
                        style="background-color: rgba(118,118,118,1); height: 46px; align-items: center; margin: 0; padding-left: 6px; padding-right: 6px;">
                        <div class="productLabelText indice">
                           #
                        </div>
                        <div class="productLabelText produto" style="padding-left: 6px">
                           Produto
                        </div>
                        <div class="productLabelTextRight quantidade" style="text-align: right; padding-right: 6px">
                           Quantidade
                        </div>
                        <div class="productLabelTextRight valorSemIpi" style="text-align: right; padding-right: 6px">
                           Valor sem IPI
                        </div>
                        <div class="productLabelTextRight ipi" style="text-align: right; padding-right: 6px">
                           IPI
                        </div>
                        <div class="productLabelTextRight valorVenda" style="text-align: right; padding-right: 6px">
                           Valor de Venda
                        </div>
                        <div class="productLabelTextRight valorDesconto" style="text-align: right; padding-right: 6px">
                           Valor com Desconto
                        </div>
                     </div>
                     <%= Enum.map(@produtos, fn produto ->  %>
                     <div id="row" class="infoText itemSpacing" style="background-color: <%= produto.color %>">
                        <div class="productBorder labelText indice"
                           style="border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px">
                           <%= produto.index %>
                        </div>
                        <div class="productBorder labelText produto"
                           style="border-right: 2px solid rgb(171, 171, 171); padding-left: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.produto %>
                        </div>
                        <div class="quantidade productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-right: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.qtd %>,00
                        </div>
                        <div class="valorSemIpi productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-right: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.preco %>
                        </div>
                        <div class="ipi productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-right: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.ipi %>
                        </div>
                        <div class="valorVenda productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-right: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.total %>
                        </div>
                        <div class="valorDesconto productBorder labelText"
                           style="text-align: right; padding-right: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.total %>
                        </div>
                     </div>
                     <% end) %>
                     <div class="row" style="margin-top: 44px;">
                        <div class="column" style="flex: 65; justify-content: center; align-items: flex-end; color: rgba(51,51,51,1); ">
                           <div class="subTotalSpacing">Subtotal</div>
                           <div class="subTotalSpacing">Desconto</div>
                           <div class="subTotalSpacing">Valor Total</div>
                        </div>
                        <div class="column" style="flex: 35; align-items: flex-end; color: rgba(85,85,85,1); padding-right: 6px;">
                           <div class="subTotalSpacing"> <%= @total %></div>
                           <div class="subTotalSpacing">0,00%</div>
                           <div class="subTotalSpacing"><%= @total %></div>
                        </div>
                     </div>
                  
                     <div id="barra_proposta" style="margin-bottom: 0px">
                        <div id="titulo_proposta">
                           Especificações de produto
                        </div>
                     </div>
                     <div class="row"
                        style="background-color: rgba(118,118,118,1); height: 75px; align-items: center; margin: 0; padding-left: 6px; padding-right: 6px;">
                        <div class="productLabelText indice">
                           #
                        </div>
                        <div class="productLabelText produto2" style="padding-left: 6px">
                           Produto
                        </div>
                        <div class="productLabelTextRight descricao" style="text-align: left; padding-left: 6px">
                           Descrição
                        </div>
                        <div class="productLabelTextRight embalagem" style="text-align: left; padding-left: 6px">
                           Embalagem Master
                        </div>
                        <div class="productLabelTextRight altura" style="text-align: right; padding-right: 6px">
                           Altura (m)
                        </div>
                        <div class="productLabelTextRight largura" style="text-align: right; padding-right: 6px">
                           Largura (m)
                        </div>
                        <div class="productLabelTextRight comprimento" style="text-align: right; padding-right: 6px">
                           Comprimento (m)
                        </div>
                        <div class="productLabelTextRight ncm" style="text-align: right; padding-right: 6px">
                           NCM
                        </div>
                        <div class="productLabelTextRight peso" style="text-align: right; padding-right: 6px">
                           Peso (KG)
                        </div>
                     </div>
                     <%= Enum.map(@produtos, fn produto ->  %>
                     <div id="row" class="infoText itemSpacing" style="background-color: <%= produto.color %>">
                        <div class="productBorder labelText indice"
                           style="border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px">
                           <%= produto.index %>
                        </div>
                        <div class="productBorder labelText produto2"
                           style="border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-left: 6px">
                           <%= produto.produto %>
                        </div>
                        <div class="descricao productBorder labelText"
                           style="text-align: left; border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-left: 6px">
                           <%= produto.descricao %>
                        </div>
                        <div class="embalagem productBorder labelText"
                           style="text-align: left; border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-left: 6px;">
                           <%= produto.embalagem %>
                        </div>
                        <div class="altura productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-right: 6px">
                           <%= produto.e_altura %>
                        </div>
                        <div class="largura productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-right: 6px">
                           <%= produto.e_largura %>
                        </div>
                        <div class="comprimento productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-right: 6px">
                           <%= produto.e_comprimento %>
                        </div>
                        <div class="ncm productBorder labelText"
                           style="text-align: right; border-right: 2px solid rgb(171, 171, 171); padding-top: 4px; padding-bottom: 4px; padding-right: 6px">
                           <%= produto.ncm %>
                        </div>
                        <div class="peso labelText" style="text-align: right; padding-right: 6px; padding-top: 4px; padding-bottom: 4px">
                           <%= produto.peso %>
                        </div>
                     </div>
                     <% end) %>
                          <div style="justify-content: center; align-items: flex-end; display: flex;">
            <ul style="flex-direction: column; padding-left: 80px;padding-top: 100px" class="infoText">
                <li>
                    Qualquer tratativa referente a proposta deverá ser formalizada por
                    e-mail.
                </li>
                <li>
                    Atenção as produtos que são enviados por caixa, as especificações
                    <b>ALTURA</b>, <b>LARGURA</b> e <b>COMPRIMENTO</b> são da caixa.
                </li>
                <li>
                    O desconto quando aplicado é calculado sobe do valor total e não do
                    produto que foi considerado o desconto.
                </li>
                <li>
                    Todas as cobranças são emitidas por boleto.
                </li>
                <li>
                    <b>ATENÇÃO: Para pedidos personalizados poderá ocorrer perda ou ganho de até 10% das peças, ao
                        confirmar a
                        compra, você estará aceitando está condição.</b></li>
                <li>
                     <b>OBS:</b> <%= @obs %>
                </li>
            </ul>
        </div>
               </td>
               
            </tr>
            
         </tbody>
         <tfoot>
            <tr>
               <td>
                  <!--place holder for the fixed-position footer-->
                  <div class="page-footer-space"></div>
               </td>
            </tr>
         </tfoot>
      </table>
   </body>
</html>
