
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>PDF</title>
<style id="applicationStylesheet" type="text/css">
body {
		margin: 0;
		padding: 0;
		display: flex;
	}
#ntp {

		width: 419px;
		height: 193.72px;

	}
</style>
</head>
<body>
<div id="ntp">
		<div id="info_ntp">
			<div id="nome_ntp">
				NTP Engenharia
			</div>
			<div id="cnpj_ntp">
				CNPJ 33.131.887/0001-06
			</div>
			<div id="endereco_ntp">
				Travessa Barão do Triunfo, 3540 - Marco - Belém/PA
			</div>
			<div id="telefone_ntp">
				Tel<span style="color:rgba(53,53,53,1);"> (91) 0000-0000
			</div>
			<div id="site_ntp">
				ntpengenharia@gmail.com
			</div>
		</div>
		<div id="logo_ntp">
			<div id="rectangles">
				<svg class="rect5">
					<rect id="rect5" rx="0" ry="0" x="0" y="0" width="94.254" height="87.072">
					</rect>
				</svg>
				<svg class="rect4">
					<rect id="rect4" rx="0" ry="0" x="0" y="0" width="62.789" height="63.505">
					</rect>
				</svg>
				<svg class="rect3">
					<rect id="rect3" rx="0" ry="0" x="0" y="0" width="66.426" height="64.631">
					</rect>
				</svg>
				<svg class="rect2">
					<rect id="rect2" rx="0" ry="0" x="0" y="0" width="42.064" height="42.576">
					</rect>
				</svg>
				<svg class="rect1">
					<rect id="rect1" rx="0" ry="0" x="0" y="0" width="48.473" height="43.985">
					</rect>
				</svg>
			</div>
			<div id="NTP">
				NTP
			</div>
			<div id="Engenharia">
				Engenharia
			</div>
		</div>
	</div>
</body>
</html>
